
.sticky {
  position: fixed;
  top: 40px;
  width: 100%;
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width : 992px) {
    .sticky {
        position: fixed;
        top: -20px;
        width: 100%;
        opacity: 1;
        z-index: 1;
      }
}